@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Just+Me+Again+Down+Here&display=swap');


html, body{
    background: url(../images/paper1.jpg) black 50% / cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

.page-title{
    color: white;
    text-align: center;
    font-family: Phorssa;
    font-size: 5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: fixed;
    top: 35%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBar{
    display: flex;
    width: 100vw;
    margin: -10px;
    height: 40px;
    background: #FFF;
    color: black;
    position: sticky;
    justify-content: center;
    align-items:end;
}



.navExpanded{
    display: flex;
    width: 100vw;
    height: 115px;
    justify-content: center;
    align-items: end;
    flex-shrink: 0;
    border-radius: 0px 0px 25px 25px;
    background: #FFF;
    flex-wrap: wrap;
    padding-bottom: 2%;
    position: absolute;
    top: -90px;
}

.navExpandedDown{
    top: 0px;
    display: flex;
    width: 100vw;
    height: 115px;
    justify-content: center;
    align-items: end;
    flex-shrink: 0;
    border-radius: 0px 0px 25px 25px;
    background: #FFF;
    flex-wrap: wrap;
    padding-bottom: 2%;
    position: absolute;
}

.lines{
    justify-self: end;
    position: absolute;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    flex-shrink: 0;
    background: #000;
    margin-left: .7rem;
    
}

.button-text{
    color: #FFF;
    text-align: center;
    font-family: inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -.06rem;
    /*text-decoration-line: underline;*/
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
}

