html, body{
    background: url(./paper1.jpg) black 50% / cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

.page-title{
    color: white;
    top: 50%;
    text-align: center;
    font-family: Phorssa;
    font-size: 5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar{
    display: flex;
    width: 100vw;
    height: 30px;
    position: sticky;
    background: #FFF;
    color: black;
    justify-content: center;
}